<template>
  <div class="nav">
    <div class="nav-container">
      <div class="d-flex align-items-center">
        <img src="/images/search.png" height="18" class="position-absolute mt-1">
        <input type="text" class="custom-form ml-3" id="searchbar" placeholder="Looking for something?">
      </div>
      <div class="user-container">
        <div class="d-flex align-items-center">
          <img src="/images/user.png" height="38" class="mt-1 mr-2">
          <a href="" class="link-custom">Log-out</a>
        </div>
      </div>
    </div>
  </div>
</template>